{
  "version": 2,
  "cmakeMinimumRequired": {
    "major": 3,
    "minor": 14,
    "patch": 0
  },
  "configurePresets": [
    {
      "name": "debug",
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build/debug",
      "inherits": ["dev-mode", "clang-tidy", "cppcheck", "compiler-flags"],
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "CMAKE_PREFIX_PATH": "../build/debug/install",
        "CMAKE_EXPORT_COMPILE_COMMANDS": "ON"
      }
    },
    {
      "name": "sanitize",
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build/sanitize",
      "inherits": ["dev-mode", "compiler-flags"],
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Sanitize",
        "CMAKE_PREFIX_PATH": "../build/debug/install",
        "CMAKE_CXX_FLAGS_SANITIZE": "-U_FORTIFY_SOURCE -O2 -g -fsanitize=address,undefined -fno-omit-frame-pointer -fno-common"
      }
    },
    {
      "name": "release",
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build/release",
      "inherits": "compiler-flags",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Release",
        "CMAKE_PREFIX_PATH": "../build/release/install"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "debug",
      "configurePreset": "debug",
      "configuration": "Debug",
      "jobs": 16
    },
    {
      "name": "sanitize",
      "configurePreset": "sanitize",
      "configuration": "Sanitize",
      "jobs": 16
    },
    {
      "name": "release",
      "configurePreset": "release",
      "configuration": "Release",
      "jobs": 16
    }
  ]
}
