{
  "version": 2,
  "cmakeMinimumRequired": {
    "major": 3,
    "minor": 14,
    "patch": 0
  },
  "configurePresets": [
    {
      "name": "common",
      "hidden": true,
      "generator": "Unix Makefiles",
      "cacheVariables": {
        "FFRECHET_SIMD_LANE_MULTIPLIER": "1"
      }
    },
    {
      "name": "debug",
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build/debug",
      "inherits": ["common", "dev-mode", "compiler-flags"],
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "CMAKE_EXPORT_COMPILE_COMMANDS": "ON"
      }
    },
    {
      "name": "release",
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build/release",
      "inherits": ["common", "compiler-flags"],
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Release"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "debug",
      "configurePreset": "debug",
      "configuration": "Debug",
      "jobs": 16
    },
    {
      "name": "release",
      "configurePreset": "release",
      "configuration": "Release",
      "jobs": 16
    }
  ]
}
